<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScanMaster Pro User Friendly </title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>ScanMaster Pro User Friendly</h1>
    <h4>Please Select an option to proceed</h4>
    <div class="commeforme">
    <div class="options">
        <a href="/scanNetwork"><button>Network Scan</button></a>
        <a href="/port_scan"><button>Port Scan</button></a>
	<a href="/port_scan_with_service_version"><button>Port Scan with service version</button></a>
	<a href="/os_scan"><button>Operating System Scan</button></a>

    </div>
    </div>
</body>
</html>

